<p id="notice"><%= notice %></p>

<h3>
  <%= @plot.user.name %>'s
  <% plant = Plant.find(@plot.plant_id) %>
  <%= plant.name.pluralize %>
</h3>

Estimated yield is <%= plant.expected_yield %> lbs, assuming a 2 square foot plot
<p>
  <strong>Community:</strong>
  <%= Community.find(@plot.community_id).name %>
</p>

<%= image_tag plant.image, class: 'large-plant-image' %> <br>

<%= link_to 'Destroy', plot_path(@plot), method: :delete %> 
<%= link_to 'Back', community_path(current_user.community_id) %>
