<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @plot.user_id %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @plot.plant_id %>
</p>

<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
