<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class="table-header">Name</th>
      <th class="table-header">Expected Yield (lbs)</th>
      <th class="table-header" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
    <tr >
      <td>
        <div class="image-div">
          <%= image_tag(plant.image, class: 'plant-image') %>
        </div>
      </td>
      <td><%= plant.name %></td>
      <td><%= plant.expected_yield %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
