<p id="notice"><%= notice %></p>

<h3>
  <%= @produce.user.name %>'s
  <% plant = Plant.find(@produce.plant_id) %>
  <%= plant.name.pluralize %>
</h3>
<%= image_tag plant.image, class: 'large-plant-image' %> <br>
<strong>
  Quantity:
</strong>
<%= @produce.quantity %> <%= @produce.units %> <br>

<%= link_to 'Destroy', produce_path(@produce), method: :delete %>  |
<%= link_to 'Back', root_path %>
