<p id="notice"><%= notice %></p>

<h3>  <%= @community.name %> </h3>

  <strong>Address:</strong>
  <%= @community.address %>

  <h4> Plots </h4>
  <% @community.users.each do |user| %>
      <% plots = Plot.where(user_id: user.id) %>
      <% unless plots.empty? %>
          <%= link_to(user.name, user_path) %> is growing
          <% plots.each do |plot| %>
              <% plant = Plant.find(plot.plant_id) %>
              <span class="plant-name"> <%= plant.name.downcase %> </span>
              <%= image_tag(plant.image, class: 'hover-plant-image')%>
          <% end %>
      <% end %>
  <% end %>
<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', communities_path %>
