<p id="notice"><%= notice %></p>

<h3>  <%= @community.name %> </h3>

  <strong>Address:</strong>
  <%= @community.address %>
<div class="plots">
  <h4> Plots </h4>
  <% @user_plants.each do |user, plots| %>
      <%= link_to User.find(user).name, user_path(user) %> is growing <%= plots.to_sentence %>
  <% end %>
</div>
<div class="Produce">
    <div class="produce">
        <h4> Produce </h4>
        <% @user_produce.each do |user, produce| %>
            <%= link_to User.find(user).name, user_path(user) %> harvested <%= produce.to_sentence %>
        <% end %>
</div>
<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', root_path %>
