<!DOCTYPE html>
<html>
  <head>
    <title>FARmer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3rZi_w2QlpNoBh_VeeefadeGfp1aQsmM&callback=communityMap">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to root_path, :class => 'header-link' do %>
    <h1 class="header"> fARmer </h1>
    <% end %>
    <% if notice || alert  %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    <% end  %>
    <span class="navbar">
      <strong class="navbar-link">
        <%= link_to('Communities', communities_path) %>
      </strong>
      <% if user_signed_in? %>
      <strong class="navbar-link">
          <%= link_to('Create Plot', new_plot_path) %>
      </strong>
      <strong class="navbar-link">
          <%= link_to('Add Produce', new_produce_path) %>
      </strong>
      <strong class="navbar-link">
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </strong>
      <% else %>
      <strong class="navbar-link">
          <%= link_to('Login', new_user_session_path)  %>
      </strong>
      <strong>
        <%= link_to('Create Account', new_user_registration_path) %>
      </strong>
      <% end %>
    </span>
    <div class="body">
        <%= yield %>
    </div>
  </body>
</html>
